<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div *ngIf="formation">
  <ion-item>
    <ion-label position="stacked">Nom</ion-label>
    <ion-input [(ngModel)]="formation.nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-input [(ngModel)]="formation.date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input [(ngModel)]="formation.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Prix</ion-label>
    <ion-input [(ngModel)]="formation.prix"></ion-input>
  </ion-item>


<ion-button expand="block" color="success" (click)="reserver(formation)" *ngIf="formation.reserve; else elseBlock ">Déja réservé</ion-button>
<ng-template #elseBlock><ion-button expand="block" color="success" (click)="reserver(formation)">réserver</ion-button></ng-template>

</div>
</ion-content>
